<div class="page more_index">

  <!-- 头部栏 -->
  <header class="header common_header">
    <a href="javascript:history.back();">
      <div class="back">
        <div class="back_arrow"></div>
      </div>
    </a>
    <div class="title">更多</div>
  </header>

 <!-- 更多首页信息条目 -->
  <div class="detail_infos">
    <a href="#/more/feedback"><div class="detail_title">意见反馈<div class="right_arrow"></div></div></a>
    <a href="#/more/help"><div class="detail_title">帮助<div class="right_arrow"></div></div></a>
    <a href="tel:95588"><div class="last_detail_title">联系我们<div class="detail_subtitle">95588</div><div class="right_arrow"></div></div></a>
    
  </div>
  <div class="bottom_infos">
    <div class="last_detail_title">分享给朋友<div class="right_arrow"></div></div>
  </div>
  
</div>