<div class="scrollable page card_offer">
<!-- 内容 -->
  <div class="scrollable-content">

  <header class="header common_header">
      <a href="javascript:history.back();">
        <div class="back">
          <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
      <div class="favorite" ng-click="addBusinessFavor()"></div>
      <div class="share"></div>
      <div class="title">商户优惠详情</div>
    </header>
    
     <div class="top_face">
      <img src="images/business_offer_top.png" alt="">
    </div>
   
    <div class="text_coupon">
      <div class="container">
        <div class="title">一共要有十五个字不多不少正正好</div>
        <div class="info">有效期：2015.01.01-2015.12.31</div>
        <div class="info">到店直接出示使用</div>
      <a href="#/discount/comment"><div class="coupon_button">点评</div></a>
      </div>
    </div>
    
    <div class="coupon_desc">
        <p>使用须知</p>
        <p>1、本券有效期为2015.01.01-2015.12.31</p>
        <p>2、本券不支持在飞机场、火车站等店面使用。同时，每人每次只先用一张，希望各位谅解，并给予支持。</p>
    </div>

    
    <div class="title_section review">
      <a href="#/review/index">
        <div class="section_header">
          <div class="title">网友点评（5000）</div>
          <div class="right_arrow"></div>
          <div class="clearfix"></div>
        </div>
      </a>
      <div class="content">
        <div class="img_wrap">
          <img src="images/portrait.png">
        </div>
        <div class="right">
          <div class="title">张三Harry</div>
          <span class="star_full"></span><span class="star_full"></span><span class="star_full"></span><span class="star_full"></span><span class="star_half"></span>
          
            
          <div class="desc">菜很好吃，服务非常赞。还有双重优惠，非常划算。不过人还是不少，如果没有提前预定，需要排队，建议提前约好时间，预留座。菜很好吃，服务非常赞。其务非常务非常......</div>
          <ul>
            <li><img src="images/restaurant_qjn.jpg" alt=""></li>
            <li><img src="images/restaurant_qjn.jpg" alt=""></li>
            <li><img src="images/restaurant_qjn.jpg" alt=""></li>
          </ul>
        </div>
      </div>
      </div>

      <div class="title_section apply_store">
        <a href="#/business/available_store">
          <div class="section_header">
            <div class="title">适用门店（3家）</div>
            <div class="right_arrow"></div>
          </div>
        </a>
        <div class="business_basic_info_section">
          <div class="business_brand">
            <div class="business_brand_icon">
              <img src="images/restaurant_qjn.jpg">
            </div> 
            <div class="business_brand_num"></div>
          </div>
          <div class="business_brand_content">
            <div class="business_brand_content_name">
              <div>俏江南（金融街店）</div>
              <div class="icon_yi"></div>
            </div>
            <div class="business_brand_content_star">
              <span class="star_full"></span><span class="star_full"></span><span class="star_full"></span><span class="star_full"></span><span class="star_half"></span>
              <div class="consume-avg"><p>127元/人</p></div>
            </div>
            <div class="business_brand_content_num">
              <div>金融街 川菜/家常菜</div>
            </div>
            
          </div>
          <div class="distance">0.7km</div>
        </div>
      </div>

</div>
</div>