<div class="scrollable page customers_drawback_info">
<!-- 内容 -->
  <div class="scrollable-content">
    
    <header class="header common_header search_header">
      <a href="javascript:history.back();">
      <div class="back">
        <div class="back_arrow"></div>
        <div>返回</div>
      </div>
      </a>
      <div class="title">退款详情</div>
    </header>

    <div class="drawback_info_top">
      <div class="line">
        <div class="key">退款金额</div>
        <div class="value red_text">￥83</div>
      </div>
      <div class="line">
        <div class="key">数量</div>
        <div class="value">1</div>
      </div>
      <div class="line">
        <div class="key">团购券</div>
        <div class="value">7322 8492 332</div>
      </div>
    </div> <!-- drawback_info_top -->

    <div class="drawback_process">
      <div class="process">
        <div class="indicator">
          <div class="dot"></div>
          <div class="line"></div>
        </div>
        <div class="right">
          <div class="clearfix">
            <div class="name">退款申请</div>
            <div class="time">2015-04-18 16:42:35</div>
          </div>
          <div class="desc">您的退款已受理，将在2个月内进行审核。</div>
        </div>
      </div>
      <div class="process done">
        <div class="indicator">
          <div class="dot"></div>
          <div class="line"></div>
        </div>
        <div class="right">
          <div class="clearfix">
            <div class="name">审核通过</div>
            <div class="time">2015-04-18 16:42:35</div>
          </div>
          <div class="desc">您的退款已审核通过。</div>
        </div>
      </div>
      <div class="process done">
        <div class="indicator">
          <div class="dot"></div>
          <div class="line"></div>
        </div>
        <div class="right">
          <div class="clearfix">
            <div class="name">退款成功</div>
            <div class="time">2015-04-18 16:42:35</div>
          </div>
          <div class="desc">83元已经退回到您的账户。</div>
        </div>
      </div>
    </div> <!-- drawback_process -->


  </div>
</div>