<div class="scrollable page my_comment">
<!-- 内容 -->
  <div class="scrollable-content">
    
    <header class="header common_header">
      <a href="javascript:history.back();">
        <div class="back">
          <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
      <div class="confirm_btn" ng-click="edit()">删除</div>
      <div class="title">我的评价</div>
    </header>

    <div class="comment_list" ng-class="{edit:isEditing}">
      <div class="title_section review comment"
      ng-repeat="comment in commentList">
        
        <a href="#/personal/my_comment/2" class="section_header">
          <div class="check_icon"
            ng-class="{check_icon_on: isSelect(comment)}"></div>
          <div class="title" ng-bind="::comment.business"></div>
          <div class="subtitle">
            <i class="fa fa-angle-right"></i>
          </div>
        </a>
        <div class="content">
          <div class="star_area">
            <span class="star" ng-class="{star_gray: comment.star<1}"></span>
            <span class="star" ng-class="{star_gray: comment.star<2}"></span>
            <span class="star" ng-class="{star_gray: comment.star<3}"></span>
            <span class="star" ng-class="{star_gray: comment.star<4}"></span>
            <span class="star" ng-class="{star_gray: comment.star<5}"></span>
          </div>
          <div class="price">200元/人</div>
          <div class="time" ng-bind="::comment.time"></div>
          <div class="text">
          <span ng-bind="::comment.content"></span>
          <span ng-show="showText" ng-bind="::comment.more"></span>

          <span class="light_blue_text" ng-click="showText = !showText"><span ng-show="!showText" >查看全文</span><span ng-show="showText">收起</span><i class="fa fa-chevron-down transition" ng-class="{rotate180:showText}"></i></span>
          </div>
          <a href="#/review/album_noup">
            <ul class="album">
              <li><img src="images/restaurant_qjn.jpg" alt=""></li>
              <li><img src="images/restaurant_qjn.jpg" alt=""></li>
              <li><img src="images/restaurant_qjn.jpg" alt=""></li>
            </ul>
          </a>
        </div>
        <div class="check_mask" ng-click="select(comment)"></div>
      </div>
    </div>  
  </div><!--  scrollable content -->
  <div class="scrollable-footer" ng-show="isEditing">
    <div class="red_confirm_btn delete_btn" ng-click="preDelete()">删除</div>
    <div class="gray_confirm_btn" ng-click="cancel()">取消</div>
  </div>
</div>
<div ui-content-for="modals">
  <!-- 删除评论确认 -->
  <div class="modal confirm_modal ng-scope" ui-if="comment_del_modal" ui-state="comment_del_modal" >
    <div class="modal-backdrop in" ui-turn-off="comment_del_modal"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="top">
          <div>你确定删除选中的评价吗？</div>
        </div>
         <div ui-turn-off="comment_del_modal" class="bottom clearfix">
            <div  ui-turn-off="comment_del_modal">取消</div>
            <div ng-click="delete()" ui-turn-off="comment_del_modal">确定</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 删除评论错误提示 -->
  <div class="modal confirm_modal ng-scope" ui-if="comment_error_modal" ui-state="comment_error_modal" >
    <div class="modal-backdrop in" ui-turn-off="comment_error_modal"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="top">
          <div>请选择确定要删除的点评</div>
        </div>
         <div ui-turn-off="comment_error_modal" class="bottom clearfix">
            <div ui-turn-off="comment_error_modal">取消</div>
            <div ui-turn-off="comment_error_modal">确定</div>
        </div>
      </div>
    </div>
  </div>
</div>
