<div class="scrollable page brand_result search_result my_favorites">
<!-- 内容 -->
  <div class="scrollable-content">
    
    <header class="header common_header search_header">
      <a href="javascript:history.back();">
      <div class="back">
        <div class="back_arrow"></div>
        <div>返回</div>
      </div>
      </a>
      <div  class="confirm_btn" ng-click="deleteFavorIni()" ng-show="showDelete">编辑</div>
      <div  class="confirm_btn" ng-click="deleteDiscountIni()" ng-show="!showDelete">编辑</div>
      <ul class="my_favor_navi" ui-state='myFavorTab' ui-default='1'>
      
          <li ng-class="{active: showDelete}" ng-click="showDelete= true" >
          商户收藏
          </li>
       
    
          <li ng-class="{active: !showDelete}" ng-click="showDelete = false">
          优惠收藏
          </li>
      
        
      </ul>
    </header>


<!-- 商户收藏 -->
    <div ng-show="showDelete" ng-class="{delete_list:favor_delete}">
    <!-- 搜索部分 -->
      <div class="search_section my_favorites_search ">
         <div class="search_input">
          <input type="text" title="" placeholder="搜索收藏商户" ng-model="searchValue" id="keyword">
          <div class="close_icon" ng-show="searchValue" ng-click="searchValue=''"></div>
        </div>
      </div>
      <div class="list_filter_wrap">
        <div class="list_filter" ui-state="listFilterIndex">
          <div class="list_filter_category" ng-click="filterToggle(1)" ui-class="{'selected':listFilterIndex == 1 && listFilter}">
            <div class="name">类别</div>
            <i class="fa fa-caret-down" ></i>
          </div>
          <div class="list_filter_category"  ng-click="filterToggle(2)" ui-class="{'selected':listFilterIndex == 2 && listFilter}">
            <div class="name" >城市</div>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="list_filter_category"  ng-click="filterToggle(3)" ui-class="{'selected':listFilterIndex == 3 && listFilter}">
            <div class="name">排序</div>
            <i class="fa fa-caret-down"></i>
          </div>
        </div>
        <div class="drop_down_group" ui-state="listFilter" ui-show="listFilter && listFilterIndex == 1">
          <div class="side_list_tab">
            <ui-state id="sideTab1" default="1"></ui-state>
            <ul class="tabs">
              <li class="tab tab_left selected" ui-set="{'sideTab1': 1}" ui-class="{'selected': sideTab1==1}">热门分类</li>
              <li class="tab tab_left" ui-set="{'sideTab1': 2}" ui-class="{'selected': sideTab1==2}">美食</li>
              <li class="tab tab_left" ui-set="{'sideTab1': 3}" ui-class="{'selected': sideTab1==3}">小吃</li>
            </ul>
            <div class="tab_contents">
              <ul class="filter_choices" ui-if="sideTab1 == 1">
                <li>KTV</li>
                <li>足疗</li>
                <li>景点</li>
              </ul>
              <ul class="filter_choices" ui-if="sideTab1 == 2">
                <li>小吃</li>
                <li>咖啡</li>
                <li>火锅</li>
              </ul>
              <ul class="filter_choices" ui-if="sideTab1 == 3">
                <li>西餐</li>
                <li>小吃</li>
                <li>咖啡厅</li>
                <li>特色小吃</li>
              </ul>
            </div> <!-- end of tab contents -->
          </div> <!-- end of side list tab -->
          <div class="mask modal" ui-if="listFilter && listFilterIndex == 1" ng-click="filterToggle(0)" ></div>
        </div> <!-- end of drop down group -->


        <div class="drop_down_group" ui-state="listFilter" ui-show="listFilter  && listFilterIndex == 2">
          <div class="side_list_tab">
            <ui-state id="sideTab2" default="1"></ui-state>
            <ul class="tabs">
             <li class="tab tab_left selected" ui-set="{'sideTab2': 1}" ui-class="{'selected': sideTab2==1}">美食</li>
              <li class="tab tab_left" ui-set="{'sideTab2': 2}" ui-class="{'selected': sideTab2==2}">电影</li>
              <li class="tab tab_left" ui-set="{'sideTab2': 3}" ui-class="{'selected': sideTab2==3}">休闲娱乐</li>
            </ul>
            <div class="tab_contents">
              <ul class="filter_choices" ui-if="sideTab2 == 1">
                <li>火锅</li>
                <li>烧烤</li>
                <li>咖啡厅</li>
              </ul>
              <ul class="filter_choices" ui-if="sideTab2 == 2">
                <li>电影院</li>
                <li>私人影院</li>
              </ul>
              <ul class="filter_choices" ui-if="sideTab2 == 3">
                <li>KTV</li>
                <li>足疗按摩</li>
                <li>温泉</li>
              </ul>
            </div> <!-- end of tab contents -->
          </div> <!-- end of side list tab -->
          <div class="mask modal" ui-if="listFilter && listFilterIndex == 2" ng-click="filterToggle(0)" ></div>
        </div> <!-- end of drop down group -->


        <div class="drop_down_group" ui-state="listFilter" ui-show="listFilter && listFilterIndex == 3">
          <div class="side_list_tab">
            <ui-state id="sideTab3" default="1"></ui-state>
            <div class="tab_contents sort_content">
              <ul class="filter_choices " ui-if="sideTab3 == 1">
                <li>按时间</li>
                <li>按距离</li>
              </ul>
            </div> <!-- end of tab contents -->
          </div> <!-- end of side list tab -->
          <div class="mask modal" ui-if="listFilter && listFilterIndex == 3" ng-click="filterToggle(0)" ></div>
        </div> <!-- end of drop down group -->
      </div>

      <ul class="thumb_list"  >
        <li  ng-class="{delete_item: favor_select[{{$index}}]}" ng-repeat="favBusiness in FavBusinesses">
          <div class="favor_list_check " ng-class="{favor_check_icon:favor_select[{{$index}}], favor_uncheck_icon:!favor_select[{{$index}}]}" ng-click="favor_select[{{$index}}]=!favor_select[{{$index}}]" > 
          </div>
          <a href="#/business/index/{{favBusiness.cis_num}}">
            <img class="left" ng-src="{{favBusiness.image_url}}">
            <div class="right">
              <div class="top large">{{favBusiness.mer_name}}</div>
              <div class="middle">
                <div class="stars">
                  <div ng-repeat="star in favBusiness.stars" class="star_{{star.type}}"></div>
                </div>
              </div>
              <div class="bottom small gray">
                {{favBusiness.address}} {{favBusiness.small_type}}
              </div>
              <div class="right_bottom small light_gray">{{favBusiness.distance /1000}}km</div>
              <div class="other_info">
              <div ng-repeat="flag in favBusiness.flags track by $index" ng-show="{{flag!='none'}}" class="top none icon_{{flag}}" ></div>
                <div class="middle small avg_price">{{favBusiness.price}}元/人</div>
              </div>
            </div>
          </a>
        </li>
      </ul>

      <!-- 删除按钮 -->
      <div class="red_confirm_btn favor_delete_btn " ng-click="openModal()" >
        删除
      </div>
      <div class="gray_confirm_btn favor_delete_btn favor_cancel_btn"  ng-click="deleteFavorCancel()">取消
      </div>
    </div>

<!-- 优惠收藏 -->
    <div ng-show="!showDelete" ng-class="{delete_list:discount_delete}">
      <ul class="thumb_list discount_list">
          <li ng-class="{delete_discount_item: discount_select[0]}">
           <div class="favor_list_check " ng-class="{favor_check_icon:discount_select[0], favor_uncheck_icon:!discount_select[0]}"  ng-click="discount_select[0]=!discount_select[0]" > 
           </div>
            <a href="#/discount/business_offer" class="clearfix">
              <img class="left" src="images/restaurant_qjn.jpg">
              <div class="right">
                <div class="top large">代金券一张，不限时段，超值</div>
                <div class="middle none"></div>
                <div class="bottom">
                  <div class="prices">
                    <div class="price_now">￥120元</div>
                    <div class="price_before">￥300元</div>
                  </div>
                </div>
                <div class="right_bottom small light_gray">已购买13次</div>
              </div>
            </a>
          </li>
          <li ng-class="{delete_discount_item: discount_select[1]}">
            <div class="favor_list_check " ng-class="{favor_check_icon:discount_select[1], favor_uncheck_icon:!discount_select[1]}"  ng-click="discount_select[1]=!discount_select[1]" > 
            </div>
            <a href="#/discount/customers" class="clearfix">
              <img class="left" src="images/restaurant_qjn.jpg">
              <div class="right">
                <div class="top large">满100减50，畅想优惠</div>
                <div class="middle none"></div>
                <div class="bottom small gray">2014.02.05-2016.05.31</div>
                <div class="right_bottom small light_gray">浏览17次</div>
              </div>
            </a>
          </li>
          <li ng-class="{delete_discount_item: discount_select[2]}">
            <div class="favor_list_check " ng-class="{favor_check_icon:discount_select[2], favor_uncheck_icon:!discount_select[2]}"  ng-click="discount_select[2]=!discount_select[2]" > 
            </div>
            <a href="#/discount/card_offer" class="clearfix">
              <img class="left" src="images/restaurant_qjn.jpg">
              <div class="right">
                <div class="top large">工行卡白金卡7折</div>
                <div class="middle none"></div>
                <div class="bottom small gray"><span>适用商户（</span><span class="red">13家</span><span>）</span></div>
              </div>
            </a>
          </li>

          <!-- <li>
            <a href="" class="clearfix">
              <img class="left" src="images/restaurant_qjn.jpg">
              <div class="right">
                <div class="top large">俏江南（金融街店）</div>
                <div class="middle">
                  <div class="stars">
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star"></i>
                    <i class="star star_half"></i>
                  </div>
                  <span class="small">127元/人</span>
                </div>
                <div class="bottom small gray">金融街 川菜/家常菜</div>
              </div>
            </a>
          </li> -->
      </ul>
        <!-- 删除按钮 -->
      <div class="red_confirm_btn favor_delete_btn "  ng-click="openModal()" >
        删除
      </div>
      <div class="gray_confirm_btn favor_delete_btn favor_cancel_btn" ng-click="deleteDiscountCancel()">取消</div>
     
    </div>



  
  </div>


<!-- 删除收藏商户 -->
<div ui-content-for="modals">
  <div class="modal confirm_modal ng-scope favor_delete_modal" ui-if="favor_del_modal" ui-state="favor_del_modal" >
    <div class="modal-backdrop in" ui-turn-off="favor_del_modal"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="top">
          <div>你确定删除选中的收藏吗</div>
        </div>
         <div ui-turn-off="favor_del_modal" class="bottom clearfix">
            <div ui-turn-off="favor_del_modal">取消</div>
            <div ng-click="delete()" ui-turn-off="favor_del_modal">确定</div>
        </div>
      </div>
    </div>
  </div>

  <!-- 错误弹窗 -->

  <div class="modal alert_modal ng-scope " ui-if="favor_del_error_modal" ui-state="favor_del_error_modal" >
    <div class="modal-backdrop in" ui-turn-off="favor_del_error_modal"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="top">
          <div>你还没选中需要删除的收藏</div>
        </div>
         <div ui-turn-off="favor_del_error_modal" class="bottom clearfix">
  
            <div ui-turn-off="favor_del_error_modal">确定</div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>