<div class="scrollable">
  <div class="scrollable-content personal">

    <header class="header common_header">
      <div class="title">我的</div>
      <div class="index_close_icon" id="close_icon">关闭</div>
    </header>
    <div class="top">
      <a href="#/personal/personal_info">
        <div class="avatar">
          <img src="{{img}}" alt="">
        </div>
      </a>
      <div class="name" ng-bind="nickname"></div>
      <div class="right">
        <div class="score">
          <div>工行积分<em>76</em></div>
          <div>(可抵现金约7.60元)</div>
        </div>
      
       
      </div>
    </div>
    <div class="menu_list">
      <a href="#/personal/orders" class="item">
        <div class="icon icon_order"></div>
        <div class="name">我的订单</div>
        <i class="fa fa-angle-right"></i>
      </a>
      <a href="#/personal/my_customers" class="item">
        <div class="icon icon_offer"></div>
        <div class="name">我的团购</div>
        <i class="fa fa-angle-right"></i>
      </a>
    
      <a href="{{e_coupon_url}}" class="item">
        <div class="icon icon_certificate"></div>
        <div class="name">我的电子券</div>
        <i class="fa fa-angle-right"></i>
      </a>

      <div class="divider"></div>
      <a href="#/personal/my_favorites" class="item">
        <div class="icon icon_star"></div>
        <div class="name">我的收藏</div>
        <i class="fa fa-angle-right"></i>
      </a>

      <a href="#/personal/my_comment" class="item">
        <div class="icon icon_comment"></div>
        <div class="name">我的评价</div>
        <i class="fa fa-angle-right"></i>
      </a>
      <a href="#/personal/trade" class="item">
        <div class="icon icon_detail"></div>
        <div class="name">我的交易明细</div>
        <i class="fa fa-angle-right"></i>
      </a>
      <div class="divider"></div>
      <a href="#/more/index" class="item">
        <div class="icon icon_more"></div>
        <div class="name">关于我们</div>
        <i class="fa fa-angle-right"></i>
      </a>
    </div>

  </div><!--  end of scrollable-content -->
  <div class="scrollable-footer" id="foot">
    <div class="tab_bar">
      <a href="#/home/index" class="tab">
        <div class="icon tab_home"></div>
        <div class="name">首页</div>
      </a>
      <a href="#/discount/index" class="tab">
        <div class="icon tab_discount" ></div>
        <div class="name">优惠</div>
      </a>
      <a href="#/personal/index" class="tab active"> 
        <div class="icon tab_profile"></div>
        <div class="name">我的</div>
      </a>
      <a class="tab">
        <div class="icon tab_setting"></div>
        <div class="name">更多</div>
      </a>
    </div>
  </div><!--  end of scrollable-footer -->
</div>