<div class="scrollable page personal_change_passwd">
  <div class="scrollable-content">
  <!-- 页头 -->
    <header class="header common_header ">
      <a href="javascript:history.back();">
        <div class="back">
        <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
 
      <div class="confirm_btn red_text"  ui-turn-on="modify_success_modal">提交</div>
      <div class="title">修改密码</div>
    </header>
    <div class="change_passwd_body">
      <div class="change_passwd_item">
        <input type="text" placeholder="请输入原密码"/>
        <div>原密码</div>
      </div>

      <div class="change_passwd_item">
        <input type="password" placeholder="请输入新密码"/>
        <div>新密码</div>
      </div>

      <div class="change_passwd_item">
        <input type="password" placeholder="请再次输入新密码"/>
        <div>再次输入</div>
      </div>
      
    </div>
  </div>

  <div ui-content-for="modals">
    <div class="modal  ng-scope alert_modal " ui-if="modify_success_modal" ui-state="modify_success_modal" >
      <div class="modal-backdrop in" ui-turn-off="modify_success_modal"></div>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="top" ui-turn-off="modify_success_modal">
            <div class="customers_praise_icon praise_icon "></div>
            <div>修改成功</div>
          </div>
          <div class="bottom " ui-turn-off="modify_success_modal">确定</div>
        </div>
      </div>
    </div>
  </div>
</div>

