<div class="scrollable page trade_list">
<!-- 内容 -->
  <div class="scrollable-content">
    
    <header class="header common_header">
      <a href="javascript:history.back();">
        <div class="back">
          <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
      <div class="title">我的交易明细</div>
    </header>

    <div class="month_picker" ui-toggle="listFilter" ui-class="{open:listFilter}">
      <div class="month">2015-03</div>
      <i class="fa fa-caret-down" ></i>
    </div>
    <div class="drop_down_group" ui-state="listFilter" ui-show="listFilter">
      <div class="side_list_tab">
        <ui-state id="sideTab1" default="1"></ui-state>
        <ul class="tabs">
          <li class="tab tab_left selected" ui-set="{'sideTab1': 1}" ui-class="{'selected': sideTab1==1}">2013年</li>
          <li class="tab tab_left" ui-set="{'sideTab1': 2}" ui-class="{'selected': sideTab1==2}">2014年</li>
          <li class="tab tab_left" ui-set="{'sideTab1': 3}" ui-class="{'selected': sideTab1==3}">2015年</li>
        </ul>
        <div class="tab_contents">
          <ul class="filter_choices" ui-if="sideTab1 == 1">
            <li>1月</li>
            <li>2月</li>
            <li>3月</li>
            <li>4月</li>
            <li>5月</li>
            <li>6月</li>
            <li>7月</li>
            <li>8月</li>
            <li>9月</li>
            <li>10月</li>
            <li>11月</li>
            <li>12月</li>
          </ul>
          <ul class="filter_choices" ui-if="sideTab1 == 2">
            <li>1月</li>
            <li>2月</li>
            <li>3月</li>
            <li>4月</li>
            <li>5月</li>
            <li>6月</li>
            <li>7月</li>
            <li>8月</li>
            <li>9月</li>
            <li>10月</li>
            <li>11月</li>
            <li>12月</li>
          </ul>
          <ul class="filter_choices" ui-if="sideTab1 == 3">
            <li>1月</li>
            <li>2月</li>
            <li>3月</li>
            <li>4月</li>
            <li>5月</li>
            <li>6月</li>
            <li>7月</li>
            <li>8月</li>
            <li>9月</li>
            <li>10月</li>
            <li>11月</li>
            <li>12月</li>
          </ul>
        </div> <!-- end of tab contents -->
      </div> <!-- end of side list tab -->
      <div class="mask modal" ui-if="listFilter" ui-turn-off="listFilter" ></div>
    </div> <!-- end of drop down group -->
    <div class="list">
      <div class="title">
        <div class="col1">商品名称/订单编号</div>
        <div class="col2">交易金额/交易日期</div>
      </div>
      <ul>
        <li>
          <a href="#/personal/trade_detail" class="item">
            <div class="col1">
              <div class="name">肯德基（西三旗店）</div>
              <div class="number">93893332</div>
            </div>
            <div class="col2">
              <div class="money">80元</div>
              <div class="time">2015-02-13</div>
            </div>
            <i class="fa fa-angle-right indicator"></i>
          </a>
        </li>
      </ul>
  
    </div>  
  </div><!--  scrollable content -->
</div>