<div class="scrollable page trade_detail">
<!-- 内容 -->
  <div class="scrollable-content">
    
    <header class="header common_header">
      <a href="javascript:history.back();">
        <div class="back">
          <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
      <a href="#/personal/trade_returns" class="confirm_btn">退货</a>
      <div class="title">我的交易明细</div>
    </header>
    
    <div class="trade_info">
      <div class="trade_total">
        <div class="key">交易金额</div>
        <div class="value">80元</div>
      </div>
      <div class="info">
        <div class="key">商户</div>
        <div class="value">满记甜品（大悦城店）</div>
      </div>
      <div class="info">
        <div class="key">商品</div>
        <div class="value">5人套餐</div>
      </div>
      <div class="info">
        <div class="key">交易日期</div>
        <div class="value">2015-03-22</div>
      </div>
      <div class="info">
        <div class="key">交易时间</div>
        <div class="value">11:00</div>
      </div>
      <div class="info">
        <div class="key">总金额</div>
        <div class="value">100元</div>
      </div>
      <div class="info">
        <div class="key red_text">电子抵扣券</div>
        <div class="value red_text">10.00元</div>
      </div>
      <div class="info">
        <div class="key red_text">积分抵扣</div>
        <div class="value red_text">10.00元</div>
      </div>
      <div class="info">
        <div class="key">交易卡号</div>
        <div class="value">622202430*******98</div>
      </div>
      <div class="info">
        <div class="key">交易方式</div>
        <div class="value">二维码支付</div>
      </div>
      <div class="info">
        <div class="key">订单编号</div>
        <div class="value">8088625518271</div>
      </div>
    </div>
    <ul class="thumb_list business">
      <li>
        <a href="#/business/index">
          <img class="left" src="images/restaurant_qjn.jpg">
          <div class="right">
            <div class="top large">俏江南（金融街店）</div>
            <div class="middle">
              <div class="stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
              </div>
            </div>
            <div class="bottom small gray">
              金融街 川菜/家常菜
            </div>
            <div class="right_bottom small light_gray">0.7km</div>
            <div class="other_info">
              <div class="top none icon_yi"></div>
              <div class="middle small avg_price">127元/人</div>
            </div>
          </div>
        </a>
      </li>
    </ul>
    
    
  </div><!--  scrollable content -->
</div>