
<div class="scrollable page business_info">
  <div class="scrollable-content">
    <!-- 页头 -->
    <header class="header common_header business_info_header">
      <a href="javascript:history.back();">
        <div class="back">
          <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
      <div class="favorite" ng-click="AddFavor()"></div>
      <div class="share"></div>
      <div class="title" id="btitle">商户详情</div>

    </header>

    <!-- 顶部商户基本信息 -->
    <div class="business_basic_info_section">
     <a href="#/business/album"><div class="business_brand">
      <div class="business_brand_icon">
        <img ng-src="{{busiInfo.image_url}}" alt="{{busiInfo.image_name}}">
      </div> 
      <div class="business_brand_num business_brand_info_num">{{busiInfo.view_count}}</div>
    </div></a>
    <div class="business_brand_content">
      <div class="business_brand_content_name">
        <div>{{busiInfo.store_name}}</div>
        <div ng-repeat="flag in flags track by $index" class="icon_{{flag}}"></div>
      </div>
      <div class="business_brand_content_star">
       <div ng-repeat="star in busiInfo.stars" class="stars icon_star_{{star.type}}"></div>
       <div class="consume-avg"><p>￥{{busiInfo.people_consumption}}/人</p></div>
     </div>
     <div class="business_brand_content_num">
      <div >人气：{{busiInfo.sentiment_count}}</div>
      <div class="praise">点赞量：{{busiInfo.praise_count}}</div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!-- 商户地址 -->
<div class="business_location_section">
  <div class="icon_location"></div>
  <div class="location_content"><p>{{busiInfo.address}}</p></div>
  <div class="right_arrow"></div>
</div>

<!-- 联系方式 -->
<div class="business_connect_section colums_2">
  <div class="telephone_num col">
    <a href="tel:{{busiInfo.tel_phone}}" ><div class="tel_content">{{busiInfo.tel_phone}}</div></a>
    <div class="telephone_icon"></div>
  </div>

  <div class="e_financial">
    <div class="e_content">联系商户</div>
    <div class="e_financial_icon"></div>
  </div>
  <div class="clearfix"></div>
</div>



<!-- 线上付账 -->
<div class="triangle_corner_item online_pay">
  <div class="item_icon icon_fu_t"></div>
  <div class="item_title">线上付账</div>
  <a href=""><div class="online_pay_btn">买单</div></a>
  <div class="clearfix"></div>
</div>

<!-- 工行卡优惠 -->
<div class="triangle_corner_item icbc_offer">
  <div class="item_icon icon_gong_t"></div>
  <a href="#/discount/card_offer">
    <div class="icbc_list_item icbc_list_item_1st" >
      <div class="item_title">工行卡优惠</div>
      <div class="item_mid_content "><span class="red_text">爱购卡8.5折</span></div>
      <div class="clearfix"></div>
    </div>
  </a>
  <a href="#/discount/card_offer">
    <div class="icbc_list_item" ng-show="showList[0]">
      <div class="item_title">工行卡优惠</div>
      <div class="item_mid_content "><span class="red_text">爱购卡8.5折</span></div>
      <div class="clearfix"></div>
    </div>
  </a>
</div>
<a href="">
  <div class="get_more" ng-click="showList[0]=!showList[0]">
    <div class="get_more_content">
      <div class="get_more_title"><span ng-show="showList[0]">收起列表</span><span ng-show="!showList[0]">查看更多</span></div>
      <div class="get_more_icon down_arrow" ng-class="{rotate180:!showList[0]}"></div>
      <div class="clearfix"></div>
    </div>
  </div> 
</a>

<!-- 团购 -->
<div class="triangle_corner_item customers">
  <div class="item_icon icon_tuan_t"></div>
  <div class="customers_list ">
    <a ng-repeat="discount in discounts | limitTo: 2" href="#/discount/customers">
      <div class="customers_list_item customers_list_item_1st">
        <div class="customers_item_img"><img ng-src="{{discount.image_url}}" alt="{{discount.image_name}}"></div>
        <div class="customers_item_content">
          <div class="customers_item_content_name">{{discount.title}}</div>
          <div class="price_block clearfix">
            <div class="current_price customers_item_content_price">
              <span class="red_text">￥{{discount.n_price}}</span>
            </div>
            <div class="former_price">
              <span >￥{{discount.o_price}}</span>
              <div class="red_line"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
    <div ng-show="showList[1]">
    <a ng-repeat="discount in discounts" ng-show="$index > 1" href="#/discount/customers">
      <div class="customers_list_item customers_list_item_1st">
        <div class="customers_item_img"><img ng-src="{{discount.image_url}}" alt="{{discount.image_name}}"></div>
        <div class="customers_item_content">
          <div class="customers_item_content_name">{{discount.title}}</div>
          <div class="price_block clearfix">
            <div class="current_price customers_item_content_price">
              <span class="red_text">￥{{discount.n_price}}</span>
            </div>
            <div class="former_price">
              <span >￥{{discount.o_price}}</span>
              <div class="red_line"></div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
  <a href="">
    <div class="get_more" ng-click="showList[1]=!showList[1]" ng-show="discounts.length > 2">
      <div class="get_more_content">
        <div class="get_more_title"><span ng-show="showList[1]">收起列表</span><span ng-show="!showList[1]">查看更多</span></div>
        <div class="get_more_icon down_arrow" ng-class="{rotate180:!showList[1]}" ></div>
        <div class="clearfix"></div>
      </div>
    </div> 
  </a>
</div>
<div class="clearfix"></div>
</div>
<!-- 更多 -->


<!-- 会员卡 -->
<div class="triangle_corner_item">
  <div class="item_icon icon_ka_t"></div>
  <div class="item_title">会员卡</div>
  <div class="item_mid_content">会员享9.5折，免费开卡</div>
  <div class="right_arrow"></div>
  <div class="clearfix"></div>
</div>

<!-- 网友点评 -->
<div class="title_section review">
  <a href="#/review/index"><div class="section_header">
    <div class="title">网友点评（5000）</div>
    <div class="right_arrow"></div>
    <div class="clearfix"></div>
  </div></a>
  <div class="content">
    <div class="img_wrap">
      <img src="images/portrait.png">
    </div>
    <div class="right">
      <div class="title">张三Harry</div>
      <div class="star_area">
        <span class="star_full"></span><span class="star_full"></span><span class="star_full"></span><span class="star_full"></span><span class="star_half"></span>
      </div>
      <div class="price">200元/人</div>


      <div class="desc">菜很好吃，服务非常赞。还有双重优惠，非常划算。不过人还是不少，如果没有提前预定，需要排队，建议提前约好时间，预留座。菜很好吃，服务非常赞。其务非常务非常......</div>
      <a href="#/review/album"><ul>
        <li><img src="images/restaurant_qjn.jpg" alt=""></li>
        <li><img src="images/restaurant_qjn.jpg" alt=""></li>
        <li><img src="images/restaurant_qjn.jpg" alt=""></li>

      </ul></a>
    </div>
  </div>
</div>


<!-- 商户信息 -->
<div class="title_section review">
  <a href="#/business/detail/{{id}}">
    <div class="section_header">
      <div class="title">商户信息</div>
      <div class="right_arrow"></div>
      <div class="clearfix"></div>
    </div>
  </a>
  <div class="business_detail_info">
    <div class="detail_info_column">
      <div class="detail_info_left">
        <div class="detail_info_left_block">
          <div class="detail_info_icon icon_car{{busiInfo.is_free}}"></div>
          <div class="detail_info_column_text icon_car_text light{{busiInfo.is_free}}_text">免费停车</div>
        </div>
      </div>
      <div class="detail_info_mid">
        <div class="detail_info_icon icon_pc{{busiInfo.is_wifi}}"></div>
        <div class="detail_info_column_text icon_wifi_text light{{busiInfo.is_wifi}}_text">wifi</div>
      </div>
      <div class="detail_info_right">
        <div class="detail_info_icon icon_bank_card{{busiInfo.is_credit_card}}"></div>
        <div class="detail_info_column_text icon_bank_card_text light{{busiInfo.is_credit_card}}_text">支持刷卡</div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="detail_info_text">
      <div class="detail_info_time">营业时间：</div>
      <div class="detail_info_time_content">
        <p>{{busiInfo.start_time}}-{{busiInfo.end_time}}
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- 其他分店 -->
<a href="#/business/other_store/" >
  <div class="other_business">
    <div>其他分店</div>
    <div class="right_arrow"></div>
  </div></a>
<!--   附近网点
  <div class="nearby_outlet">
    <div>附近网点</div>
    <div class="right_arrow"></div>
  </div> -->

</div>
<div class="scrollable-footer">
  <div class="tab_bar business_tab">
    <a href="" class="tab">
      <div class="icon tab_camera"></div>
      <div class="name">拍照</div>
    </a>
    <a href="#/review/comment" class="tab">
      <div class="icon tab_comment" ></div>
      <div class="name">点评</div>
    </a>
    <a class="tab" ui-turn-on="error_modal">
      <div class="icon tab_error"></div>
      <div class="name">报错</div>
    </a>
  </div>
</div>
</div>

<div ui-content-for="modals">
  <!-- 电话弹出框 -->
  <div class="modal" ui-if="tel_modal" ui-state="tel_modal">
    <div class="modal-backdrop in" ui-turn-off="tel_modal"></div>
    <div class="modal-dialog action_sheet">
      <div class="modal-content">
        <a href="tel:{{busiInfo.tel_phone}}" class="item">{{busiInfo.tel_phone}}</a>
        <div ui-turn-off="tel_modal"  class="item">取消</div>
      </div>
    </div>
  </div>

  <!-- 电话弹出框 -->
  <div class="modal" ui-if="error_modal" ui-state="error_modal">
    <div class="modal-backdrop in" ui-turn-off="error_modal"></div>
    <div class="modal-dialog action_sheet">
      <div class="modal-content">
        <a href="" class="item" ui-turn-off="error_modal" ui-turn-on="shyg_modal">商户已关</a>
        <a href="#/error/district/{{id}}" class="item">地理位置错误</a>
        <a href="#/error/business/{{id}}" class="item">商户信息错误</a>
        <a href="" class="item" ui-turn-off="error_modal" ui-turn-on="shcf_modal">商户重复</a>
        <a href="#/error/other/{{id}}" class="item">其它</a>
        <div ui-turn-off="error_modal"  class="item">返回</div>
      </div>
    </div>
  </div>

  <div class="modal alert_modal ng-scope" ui-if="shyg_modal" ui-state="shyg_modal">
    <div class="modal-backdrop in" ui-turn-off="shyg_modal"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="top">
          <div>商户已关</div>
        </div>
        <!-- <div ui-turn-off="shyg_modal"  ng-click="errorReport('close')" class="bottom">
         确定
       </div> -->
       <div ui-turn-off="shyg_modal" class="bottom">
          <div ui-turn-off="shyg_modal">取消</div>
          <div ui-turn-off="shyg_modal" ng-click="errorReport('close')">确定</div>
       </div>
     </div>
   </div>
 </div>

 <div class="modal alert_modal ng-scope" ui-if="shcf_modal" ui-state="shcf_modal">
  <div class="modal-backdrop in" ui-turn-off="shcf_modal"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="top">
        <div>商户重复</div>
      </div>
      <div ui-turn-off="shcf_modal" ng-click="otherErrorReport('sr')" class="bottom">
       确定
     </div>
   </div>
 </div>
</div>

</div><!-- end of modal -->


