<div class="page other_store">
  <header class="header common_header">
      <a href="javascript:history.back();">
        <div class="back">
          <div class="back_arrow"></div>
          <div>返回</div>
        </div>
      </a>
      <div class="title">其他分店</div>
    </header>

      <div class="title_section apply_store">
      <a ng-repeat="otherStore in otherStores" href="#/business/index/{{otherStore.store_code}}">
        <div class="business_basic_info_section">
          <div class="business_brand">
            <div class="business_brand_icon">
              <img ng-src="{{otherStore.image_url}}">
            </div> 
            <div class="business_brand_num"></div>
          </div>
          <div class="business_brand_content">
            <div class="business_brand_content_name">
              <div>{{otherStore.store_name}}</div>
              <div ng-repeat="flag in otherStore.flags track by $index" class="top none icon_{{flag}}" ></div>
            </div>
            <div class="business_brand_content_star">
              <div ng-repeat="flag in otherStore.flags track by $index" class="top none icon_{{flag}}" ></div>
              <div class="consume-avg"><p>{{otherStore.price}}元/人</p></div>
            </div>
            <div class="business_brand_content_num">
              {{otherStore.district_name}} {{otherStore.small_code}}
            </div>
            
          </div>
          <div class="distance">{{otherStore.distance /1000}}km</div>
        </div>
      </a>
      </div>

</div>