<!-- 照片信息编辑 -->
<div class="scrollable page review_photo_edit">
<!-- 内容 -->
  <div class="scrollable-content">
    <header class="header common_header">
      <a href="javascript:history.back();">
      <div class="back">
        <div class="back_arrow"></div>
        <div>返回</div>
      </div>
      </a>
      <a href="javascript:history.back();">
        <div class="confirm_btn">确定</div>
      </a>
      <div class="title">相册</div>
    </header>
    
    <div class="image_wrap">
      <img src="images/photo_drink.jpg" id="target_photo" alt="photo"
        ng-class="{ 'r90': rotate==1,
                    'r180': rotate==2,
                    'r270': rotate==3}">
    </div>

    <div class="photo_ctrl">
      <div class="icon_rotate" ng-click="doRotate()"></div>
      <div class="icon_delete" ng-click="doDelete()"></div>
    </div>

    <div class="photo_info">
      <div class="info">
        <div class="name">选择类型：</div>
        <div class="values">
          <div class="type"
            ng-repeat="type in types"
            ng-class="{selected: currentType == type}"
            ng-click="selectType(type)"
            ng-bind="type.name"></div>
        </div>
      </div>
      <div class="info">
        <div class="name">照片命名：</div>
        <div class="values">
          <input class="name_input" maxlength="10" placeholder="最多输入10个字" type="text">
        </div>
      </div>
    </div>
    

  </div>
</div>
