<div class="scrollable page review_photo_added">
<!-- 内容 -->
  <div class="scrollable-content">
    <header class="header common_header">
      <a href="javascript:history.back();">
      <div class="back">
        <div class="back_arrow"></div>
        <div>返回</div>
      </div>
      </a>
      <a href="#/business/album">
        <div class="confirm_btn">确定</div>
      </a>
      <div class="title">相册</div>
    </header>
     <div class="album_photo_list clearfix">
       <a href="#/review/photo_edit">
       <div class="col-xs-6 left_img" ><div class="img_box">
        <img src="images/photo.png" class="album_img">
        <div class="photo_description">宫保鸡丁</div>
       </div>
       </div></a>
       <a href="#/review/photo_edit">
       <div class="col-xs-6 right_img">
        <div class="img_box">
          <img src="images/photo.png" class="album_img">
          <div class="photo_description">宫保鸡丁</div>
        </div>
       </div></a>
       <div class="col-xs-6 left_img">
        <div class="img_box"><img src="images/add_photo.png" class="album_img">
        </div>
       </div>

      </div>

    </div>
  </div>