
  <div class="page search">
    <div page-title="搜索"></div>
    <header class="header common_header search_header">
      <a href="javascript:history.back();">
        <div class="search_cancel_btn" >
          取消
        </div>
      </a>
      <div class="search_input">
        <input type="search" title="" placeholder="请输入商户名地点" ng-model="searchHeaderValue" autocomplete="off"
          ng-keydown="keypress($event)">
        <div class="close_icon" ng-show="searchHeaderValue" ng-click="searchHeaderValue=''"></div>
      </div>
      
    </header>
    <div class="search_body">
      <div class="search_section_title">热门搜索</div>
      <div class="clearfix">
        <a ng-href="#/home/search_result/{{item.city_name}}"
          ng-repeat="item in hotKeywords">
          <div class="col-xs-4"
            ng-class="{
              tag_left: $index % 3 == 0,
              tag_mid: $index % 3 == 1,
              tag_right: $index % 3 ==2
            }">
            <div ng-bind="item.city_name"></div>
          </div>
        </a>
      </div>
     

      <div class="search_section_title search_history">搜索历史
      <span ng-click="clearHistory()">清除历史记录</span>
      </div>
    </div>
    <div class="search_history_record" ng-show="showHistory">
      <a ng-href="#/home/search_result/{{item}}" ng-repeat="item in history">
      <div ng-bind="item"></div>
      </a>
    </div>
    <!-- <button ng-click="testCall()">测试</button> -->

    <!-- <div ng-bind="test1"></div> -->
  </div>
