.business_detail {
  .detail_info{
    margin:10px 10px;
    font-size: 12px;
  }
  .detail_desc{
    margin: 10px 10px;
    padding: 10px;
    background-color: #fff;
    font-size: 12px;
    border: none;
  }

}