// 分类菜单背景色 边框修正
$content_bg_color: #fff;
.index .rect_banner{
  background-color: $content_bg_color;

  &:first{
    border-bottom:none;
  }
}
.index{
  .index_header{
    .index_close_icon{
      color: #fff;
    }
  }
}

//首页carousel指示器通用样式
%indicators{
  height: 14px;
  line-height: 14px;
  text-align: center;

  .dot{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #d7d7d7;
    margin: 0 4px;

  }
  .dot.active{
    background-color: #c7000a;
  }
}
// 顶部图片样式
.top_face{
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 0;
  img{
    width: 100%;
    margin: 0;
   
  }

  .indicators{
    @extend %indicators;
    position: absolute;
    bottom: 0; 
    width: 100%;
  }
}

// 圆形按钮菜单组
.circle_btn_group{
  height: 85px;
  padding: 5px 0;
  width: 25%;
  // display: inline-block;
  float: left;
  text-align: center;
  background-color: #fff;

  .icon{
    width: 50px;
    height: 50px;
    margin: auto;
    background-size: 100% 100%;
  }
  .icon_img{
    width: 50px;
    height: 50px;
    margin: auto;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .name{
    font-size: 12px;
    margin-top: 10px;
    color: black;
  }
  .icon_dish{
    background-image: url(img/icon_category_dish.png) ;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.index .category{
  border-bottom: none;
}

// 分类滑动面板
.category_banner{
  .carousel{
    height: 90px;
  }
  .indicators{
    @extend %indicators;
  }
}

// 抽奖
.lottery{
  height: 84px;
  font-size: 12px;
  padding: 0px;
  background-color: $content_bg_color;
  .timer_wrap {
    float: left;
    width: 140px;
    height: 84px;
    padding: 20px;
    text-align: center;
    color: #666;
  }
  .calendar_timer{
    width: 100px;
    height: 24px;
    margin: auto;
    position: relative;
    font-size: 0;
    .digital{
      width: 13px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      border-radius: 4px;
      background-color: black;
      color: white;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      margin-right: 1px;
    }

    .colon{
      font-size: 16px;
      font-weight: bold;
      margin-left: -1px;
      height: 22px;
      line-height: 22px;
    }

    .mask{
      width: 100%;
      height: 1px;
      border-bottom:1px solid white;

      position: absolute;
      top: 11px;
    }
  }

  .lottery_img{
    margin: 0 140px;
    line-height: 84px;
    text-align: center;
    img{
      max-height: 70px;
      max-width: 100%;
    }

  }

  .lottery_desc{
    float: right;
    width: 140px;
    height: 84px;
    padding: 20px;
    text-align: center;
    .line1{
      font-size: 18px;
      color: $text_color_gold;
    }
    .line2{
      font-size: 12px;
      color: #0200f8;
    }
  }
}

.special_offer{
  .section_header{
      padding:5px 10px;
  }

  background-color: white;

  .col{
    margin: 10px 0;
  }
  .product_sale_vertical{
    text-align: center;


    .img_wrap{
      display: inline-block;
      height: 50px;
      img{
        max-height: 50px;
      }
    }

    .name{
      color: $text_color_gray;
      font-size: 12px;

    }
    .prices{
      line-height: 24px;
      .price_now{
        color: $text_color_red;
        font-size: 14px;
        display: inline-block;
      }
      .price_before{
        color: $text_color_light_gray;
        font-size: 10px;
        display: inline-block;
        position: relative;
        .red_line{
            width: 100%;
            border-bottom:1px solid  $text_color_red;
            z-index:10;
            position:absolute;
            top: 12px;
          }

      }
    }
  }
}

.recommand_business{
  background-color: white;
  
  .business_horizontal{
    text-align: center;
    padding: 10px;

    .img_wrap{
      float: right;
      height: 70px;
      width: 70px;
      img{
        max-height: 70px;
        max-width: 70px;
      }
    }

    .name{
      margin-right: 80px;
      font-size: 18px;
      color: $text_color_gold;
      padding: 10px 0;

    }
    .desc{
      margin-right: 80px;
      font-size: 12px;
      color: $text_color_gray
    }
  }
}

.guess_like{
  .guess_like_list{
    margin: 0;
    padding: 0;
  }
  li:last-child .list_like_item{ 
    border-bottom: none;
  }
  .list_like_item{
    display: inline-block;
    width: 100%;
    padding: 10px;
    @include retina_border_bottom(1px, solid);
    
    img.left{
      width: 89px;
      height: 65px;
      float: left;
    }

  }

  .right{
    margin-left: 109px;
    position: relative;

    .title{
      font-weight: bold;
    }
    .desc{
      color: $text_color_gray;
      font-size: 12px;
    }
    .prices{
      .price_now{
        color: $text_color_red;
        font-size: 14px;
        display: inline-block;
      }
      .price_before{
        color: $text_color_light_gray;
        font-size: 10px;
        display: inline-block;
        text-decoration: line-through;
      }
    }

    .distance{
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      color: $text_color_gray;
    }
    .sold{
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 12px;
      color: $text_color_gray;
    }
  }
}

.index .guess_like{
  background-color: white;
  .business_consume_avg{
    display: inline-block;
    vertical-align: middle;
  }
  .star_full, .star_half{
    vertical-align: middle;
  }
  .business_brand_content_num{
    color: #999999;
  }

  .business_brand_content{
    float: none;
    margin-left: 115px;
    position: relative;
  }
  .business_basic_info_section{
    position: relative;
    padding: 6px 0;
    .distance{
      position: absolute;
      right: 10px;
      bottom: 0;
      font-size: 12px;
      color: $text_color_light_gray;
    }
  }
  
}

//tab 栏
.tab_bar{
  height: 55px;
  background-color: #f0f0f0;
  font-size: 0;
  @include retina_border_top(1px, solid, #acacac);
  @extend .clearfix;
  .tab{
    width: 1/4 * 100%;
    text-align: center;
    padding-top: 6px;
    // display: inline-block;
    float: left;

    .icon{
      width: 25px;
      height: 25px;
      display: inline-block;
      vertical-align: top;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }

    .tab_home{
      background-image: url(img/icon_tab_home.png);
    }

    .tab_discount{
      background-image: url(img/icon_tab_discount.png);
    }
    .tab_profile{
      background-image: url(img/icon_tab_profile.png);
    }
    .tab_setting{
      background-image: url(img/icon_tab_more.png);
    }

    .name{
      font-size: 12px;
      color: $text_color_gray;
    }
  }

  .active{
    .tab_home{
      background-image: url(img/icon_tab_home_active.png);
    }

    .tab_discount{
      background-image: url(img/icon_tab_discount_active.png);
    }
    .tab_profile{
      background-image: url(img/icon_tab_profile_active.png);
    }
    .tab_setting{
      background-image: url(img/icon_tab_more_active.png);
    }

    .name{
      font-size: 12px;
      color: $text_color_red;
    }
  }

}
