.more_help {
  .detail_infos{
    padding: 0 10px;
    background-color: #fff;
  }
  .detail_title{
    border-bottom: 1px solid $border_color_light_gray;
    padding: 15px;
    position: relative;
    .detail_subtitle{
      float:right;
      margin-right: 25px;
    }
    .help_details{
      font-size: 12px;
      color: $text_color_gray;
    }
  }
  .bottom_infos{
    @extend .detail_infos;
    margin-top: 20px;
    border-bottom: 1px solid $border_color_light_gray;
  }
  .last_detail_title{
    @extend .detail_title;
    border: none;
  }
  // 向下箭头
  .help_list_arrow{
    position: absolute;
    right: 10px;
    top: 15px;
    width: 14px;

    i{
      @include transition(-webkit-transform 0.3s);
    }
  }
  .help_list_arrow_red i{
    color: $text_color_red;
    @include transform(rotate(180deg));
  }

}