.review_index{
  .header{
    border-bottom: 0px;
  }
  .review_top_navi{
 
  // margin-top: 10px;
  background-color: #fff;

  .list_filter_category{
    width: 50%;
  }
  .side_list_tab{
    .tab_contents{
     .filter_choices{
       li{
        height: auto;
        line-height: auto;
        padding:12px 0px;
       }
      }
    }
  }

}


  .review_list_filter_wrap{
   .tab_contents{
     height: auto;

     .filter_choices{
       li{
        height: auto;
        line-height: 15px;
        font-size: 15px;
        padding:12px 0px;
       }
      }
  }

    }
// 菜单内容
.review_nav_content{
  padding:0px;
  background-color: #fff;
  width: 100%;
  position: relative;
  .option_area{
    padding:0 10px;
    background-color: #fff;
  }
  .review_nav_item{
    position:relative;
    z-index: 1100;
     padding:15px;
     background-color:#fff;
    @include retina_border_bottom();
  }
  .review_nav_item:first-child{
    color:$text_color_red;
  }
  .dropdown-menu{
    width: 100%;
    border-width:0px;
    position:absolute;
    top: -2px;
    padding: 0px;
    border-radius: 0px;
  }

}
}

// 菜单栏


// 评论列表
.review_index{
pointer-events:auto;
  .review_list{
    .star_area{
      display: inline-block;
    }
    .price{
      display: inline-block;
      margin-left: 60px;
    }
    .blue{
      color:$text_color_light_blue;
    }
    i{
      @include transition( 0.2s all linear );
    }
    .open_item i{
      @include transform(rotate(180deg));
    }
    .title_section{
      margin: 0;
      border-top:0px;
    }
  }
  .list_last_img{
    position: relative;
    .rest_img_num{
      position:absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color:rgba(0,0,0, 0.5);
      font-size: 10px;
      color:#fff;
      line-height: 45px;
      text-align: center;
    }
  }
}

