//colors
$bg_color: #f7f7f7;

$red_header_bgcolor: #c7000a;
$red_header_border_color: #a7a7aa;

// 文字颜色
$text_color_red:#cc0000;
$text_color_dark_gray: #666666;
$text_color_gray: #848484;
$text_color_light_gray: #CCC;
$text_color_gold: #f86921;
//首页搜索副标题
$search_secction_title:#666666;
$text_color_blue:#0033ff;
$text_color_light_blue:#0066ff;
$text_color_orange:#f3a766;
// 边框颜色
$border_color_light_gray:#efefef;

.light_gray{
  color: $text_color_light_gray;
}

